    body{
        background-color: white;
        color: black;
    }
   .w-full{
       width: 100%;
   }
   .h-full{
       height: 2000px;
   }

   .bg-orange{
       background-color: orange;
   }

   .bg-left{
       width: 35%;
       height: 500px;
       display: inline-block;   
       vertical-align: top;
       margin-right: 20px;
   }
   .div-img1{

        margin-bottom: 30px;
   }
   
   .bg-right{
    width: 60%;
    height: 1000px;
    display: inline-block;
   }
   .bg-blue{
       width: 90%;
       height: 200px;
       background-color: #394D60;
       margin-top: 250px;
       margin-left: 30px;
   }
   .img2{
       width: 200px;
       height: 330px;
   }
   .img3{
        width: 200px;
        height: 250px;
   }
   .img4{
    width: 300px;
    height: 300px;
    }
   .absolute-img2{
    top: calc(50% - 480px);
    left: calc(50% - 270px)
    }   
    .absolute-img3{
        top: calc(50% - 400px);
        left: calc(50% - 50px)
    } 
    .absolute-img4{
        top: calc(50% - 110px);
        left: calc(50% - 270px)
    } 
    .relative {
        position: relative;
    }
    .absolute{
        position: absolute;
    }