:root {
    --heading-font-size: 18px;
    --para-font-size: 14px;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
}

.flex {
    display: flex;
}

.container {
    height: 500px;
    flex-direction: row;
    gap: 3px;

    margin: 0 auto;
}

.content_left {
    width: 40%;
    width: fit-content;
    height: 420px;
    background-color: rgb(239, 238, 244);

    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
}

.content_right {
    width: 60%;
    height: 500px;
    background-color: rgb(239, 238, 244);
    flex-direction: row;
}

.content {
    background-color: white;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.title {
    font-size: var(--para-font-size);
}

.heading {
    font-size: var(--heading-font-size);
    font-weight: bold;
}

.ending {
    width: fit-content;
    border: rgb(91, 83, 143) 1px solid;
    padding: 10px;
    color: rgb(91, 83, 143);
    font-weight: bold;
    font-size: 14px;
}

.sub {
    font-size: 16px;
    font-weight: bold;
}
.border{
    border-right:rgb(239, 238, 244) 3px solid;
    border-left: rgb(239, 238, 244) 3px solid;
}

/* reponsive tren 1200px */


@media only screen and (max-width: 1199px) {
    .container {
        flex-direction: column !important;
    }

    .content_left {
        width: 100% !important;
        height:300px!important;
    }

    .content_right {
        width: 100% !important;
    }
}
@media only screen and (max-width: 767px) {
    .container {
        flex-direction: column !important;
        gap: 30px;
    }
    .content_left {
        width: 100% !important;
        height:500px!important;
    }
    .border{
        border-right:none!important;
        border-left: none!important;
        
    }
    .content_right {
        flex-direction: column;
        width: 100% !important;
        height: 150px;
        align-items: center;    
        justify-content: space-between  ;
        align-items: center;
        gap: 50px;
        background-color: white;
    }
    .content{
        margin: 0 auto!important;
        width: 100%!important;
        height: 150px!important;
        border-top: rgb(239, 238, 244) 3px solid;
    }
}